.acquaintance__background {
  width: 320px;
  height: 389px;

  background: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.acquaintance__intro-image {
  z-index: 10;

  width: 281px;
  height: 214px;

  background: url("/img/text-sedona-index.svg");
  background-repeat: no-repeat;
}

.acquaintance__triangle {
  z-index: 10;

  width: 320px;
  height: 26px;

  background: url("/img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
}

.acquaintance__sedona {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.acquaintance__intro {
  line-height: 26px;
  color: #333333;
}
