.acquaintance {
  width: 320px;
  margin: 0 auto;
}

.acquaintance__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 389px;

  background: url("/img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.acquaintance__intro-image {
  z-index: 10;

  width: 281px;
  height: 214px;
  margin: 0 auto;
  margin-top: 90px;

  background: url("/img/text-sedona-index.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.acquaintance__triangle {
  z-index: 10;

  width: auto;
  height: 25px;

  background: url("/img/bg-intro-triangle-mobile.svg");
}

.acquaintance__sedona {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 0 30px;
  padding-top: 39px;
}

.acquaintance__intro {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  padding: 0 30px;
  padding-bottom: 5px;
  padding-top: 29px;
  text-align: center;
}

.acquaintance__triangle-bg {
  width: auto;
  height: 37px;
  background: #81b3d2;
}

@media (min-width: @tablet-width) {
  .acquaintance {
    width: 768px;
  }

  .acquaintance__background {
    width: auto;
    height: 518px;

    background: url("/img/bg-back-tablet@1x.jpg");
  }

  .acquaintance__intro-image {
    width: 460px;
    height: 350px;
    margin-top: 77px;
  }

  .acquaintance__triangle {
    height: 56px;

    background: url("/img/bg-intro-triangle-tablet.svg");
  }

  .acquaintance__sedona {
    font-size: 21px;
    padding-left: 84px;
    padding-right: 80px;
    padding-top: 48px;
  }

  .acquaintance__intro {
    padding-top: 31px;
    padding-bottom: 51px;
    padding-left: 15px;
  }

  .acquaintance__triangle-bg {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .acquaintance {
    width: 1200px;
  }

  .acquaintance__background {
    width: auto;

    background: url("/img/bg-back-desktop@1x.jpg");
  }

  .acquaintance__triangle {
    background: url("/img/bg-intro-triangle-desktop.svg");
  }

  .acquaintance__sedona {
    padding-left: 350px;
    padding-right: 350px;
  }
}
