.copyright {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 11px;
}

.copyright__text {
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
  padding-left: 15px;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .copyright__link svg {
    padding-right: 6px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-left: 269px;
    padding-top: 4px;
  }
}
