.page-header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.page-header__logo {
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  margin-top: -39px;
}

.page-header__logo img {
  width: 102px;
  height: 83px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    margin-top: -55px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-bottom: 48px;
  }

  .page-header__logo {
    margin-bottom: -40px;
  }

  .page-header__logo img {
    width: 188px;
    height: 96px;
  }
}
