.reason {
  color: #333333;
  background: #eeeeee;
}

.reason__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.reason__description,
.reason__number {
  line-height: 26px;
}

.reason__town,
.reason__bridge {
  color: #ffffff;
  background: #81b3d2;
}
