.reasons-list {
  margin-top: 22px;
  margin-bottom: 24px;
}

.reasons-list__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.reasons-list__item {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  color: #333333;
  background: #ffffff;
}

.reasons-list__item-description {
  padding-left: 70px;
  padding-right: 35px;
  padding-bottom: 15px;
}

.reasons-list__image-house svg {
  width: 37px;
  height: 36px;
}

.reasons-list__image-burger svg {
  width: 40px;
  height: 50px;
}

.reasons-list__image-gift svg {
  width: 32px;
  height: 38px;
}

.reasons-list__image {
  padding-left: 24px;
  padding-right: 11px;
  fill: #81b3d2;
}

@media (min-width: @tablet-width) {
  .reasons-list {
    display: flex;
    margin: 0;
    width: 768px;
    margin-top: 60px;
    margin-bottom: 61px;
  }

  .reasons-list__item {
    flex-direction: column;
    text-align: center;
    width: 256px;

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) p {
      padding: 0 55px;
    }
  }

  .reasons-list__image,
  .reasons-list__item-title,
  .reasons-list__item-description {
    padding: 0;
  }

  .reasons-list__image {
    padding-bottom: 19px;
  }

  .reasons-list__item-title {
    font-size: 21px;
    padding-bottom: 25px;
  }

  .reasons-list__item-description {
    font-size: 14px;
    padding: 0 47px;
  }

  .reasons-list__image-house svg {
    width: 75px;
    height: 72px;
  }

  .reasons-list__image-burger svg {
    width: 77px;
    height: 68px;
    padding-bottom: 4px;
  }

  .reasons-list__image-gift svg {
    width: 64px;
    height: 72px;
  }
}

@media (min-width: @desktop-width) {
  .reasons-list {
    width: 1200px;
    margin-bottom: 82px;
  }

  .reasons-list__item-description {
    padding: 0 56px;
  }

  .reasons-list__item {
    width: 400px;

    &:nth-child(2) p {
      padding: 0 103px;
    }
  }
}
