.reasons-list__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.reasons-list__item {
  color: #333333;
  background: #ffffff;
}

.reasons-list__image-house {
  width: 37px;
  height: 36px;
  background: url("/img/icon-house.svg");
}

.reasons-list__image-burger {
  width: 32px;
  height: 38px;
  background: url("/img/icon-burger.svg");
}

.reasons-list__image-gift {
  width: 40px;
  height: 35px;
  background: url("/img/icon-gift.svg");
}

@media (min-width: @tablet-width) {
  .reasons-list {
    width: 768px;
    height: 330px;
    display: flex;
  }

  .reasons-list__image-house {
    width: 75px;
    height: 72px;
  }

  .reasons-list__image-burger {
    width: 77px;
    height: 68px;
  }

  .reasons-list__image-gift {
    width: 64px;
    height: 75px;
  }
}

@media (min-width: @desktop-width) {
  .reasons-list {
    width: 1200px;
    height: 330px;
    display: flex;
  }
}
