.review {
  width: 320px;
  margin: 0 auto;
}

.review__wrapper-phone_mod {
  display: none;
}

.review__form-introduce,
.review__form-contacts,
.review__form-impression,
.review__form-attractions,
.review__form-emotions {
  border: none;
  margin: 0;
  padding: 0;
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 20px;
}

.review__form-title {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border-top: 1px #eeeeee solid;
  padding-top: 17px;
  text-align: center;
  padding-bottom: 21px;
}

.review__form-introduce {
  margin-bottom: 6px;
}

.review__form-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 18px;
  color: #333333;
}

.review__form-contacts .review__form-item_phone {
  padding-bottom: 12px;
}

.review__form-item input {
  width: 170px;
  height: 58px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 21px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    height: 50px;
    min-width: 162px;
  }
}

.review__form-item label {
  padding-right: 15px;
}

.review__form-item_phone label,
.review__form-item_mail label {
  padding-left: 22px;
}

.review__radio,
.review__checkbox {
  list-style: none;
}

.review__form-contacts .review__form-item {
  display: block;
}

.review__form-item_name input {
  width: 208px;
}

.review__form-contacts input {
  width: 245px;
  margin-top: 5px;
}

.review__form-item_phone {
  position: relative;

  &::before {
    position: absolute;
    width: 58px;
    height: 60px;
    content: "";
    background-color: #e6e6e6;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    top: 31px;
    right: 0;
    z-index: 10;
  }
}

.review__form-item_mail {
  position: relative;

  &::before {
    position: absolute;
    width: 58px;
    height: 60px;
    content: "";
    background-color: #e6e6e6;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center;
    top: 31px;
    right: 0;
    z-index: 10;
  }
}

.review__form-impression legend {
  margin-bottom: 16px;
}

.review__form-contacts {
  margin-bottom: 11px;
}

.review__filter {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  padding-left: 98px;
}

.review__radio .review__filter {
  margin-bottom: 43px;
}

.review__filter,
.review__filter-checkbox + label,
.review__filter-radio + label {
  &::before {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -11px;
    left: 23px;
    content: "";
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.review__filter-radio:checked + label {
  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 38px;
    content: "";
    background-color: #333333;
    border-radius: 50%;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.review__form-attractions legend {
  padding-bottom: 32px;
}

.review__checkbox .review__filter {
  margin-bottom: 54px;

  &:nth-child(4) {
    margin-bottom: 41px;
  }
}

.review__form-attractions .review__filter,
.review__filter-checkbox + label {
  &::before {
    border-radius: 10%;
    top: -13px;
    left: 20px;
    width: 54px;
    height: 54px;
  }
}

.review__filter-checkbox:checked + label {
  &::before {
    position: absolute;
    width: 54px;
    height: 54px;
    top: -13px;
    left: 20px;
    content: "";
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.review__form-emotions .review__form-title {
  padding-bottom: 19px;
}

.review__form-emotions .review__form-item {
  width: 280px;
  padding: 0 20px;
}

.review__form-item textarea {
  width: 100%;
  height: 143px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  padding-left: 21px;
  padding-top: 15px;
  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    height: 135px;
  }
}

.review-button {
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  margin: 0 20px;
  margin-top: 51px;
  margin-bottom: 41px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.review__button-wrapper .review__form-item {
  display: none;
}

@media (min-width: @tablet-width) {
  .review {
    width: 768px;
    margin-bottom: 59px;
  }

  .review__form-title {
    border: none;
    font-size: 21px;
    text-align: start;
  }

  .review__form-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .review__form-impression {
    position: relative;
    order: -2;
    padding: 0;

    &::before {
      position: absolute;
      content: "";
      right: -52px;
      top: 0;
      width: 1px;
      height: 292px;
      background-color: #eeeeee;
    }
  }

  .review__filter {
    padding-left: 75px;
  }

  .review__form-impression .review__form-title {
    padding: 0;
    margin-bottom: 73px;
  }

  .review__radio .review__filter {
    margin-bottom: 52px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .review__filter,
  .review__filter-checkbox + label,
  .review__filter-radio + label {
    &::before {
      left: 2px;
    }
  }

  .review__filter-checkbox + label,
  .review__form-attractions .review__filter {
    &::before {
      top: -13px;
      left: 0;
    }
  }

  .review__filter-radio:checked + label {
    &::before {
      top: 4px;
      left: 17px;
    }
  }

  .review__wrapper {
    margin: 0;
    width: 266px;
  }

  .review__form-introduce .review__form-title {
    display: flex;
    width: 266px;
    padding: 0;
    padding-right: 100px;
    margin-bottom: 56px;
  }

  .review__form-item input {
    width: 155px;
  }

  .review__form-item_name input {
    width: 192px;
  }

  .review__form-contacts .review__form-title {
    padding: 0;
    padding-bottom: 24px;
    text-align: center;

    &::before {
      top: 12px;
      right: 0;
    }

    &::after {
      top: 12px;
      left: 0;
    }
  }

  .review__form-contacts {
    display: flex;
    flex-direction: column;
    width: 648px;
    margin-top: 45px;
    margin-bottom: 4px;
  }

  .review__form-item_phone label,
  .review__form-item_mail label {
    padding-left: 22px;
  }

  .review__form-contacts input {
    width: 610px;
    margin-top: 5px;
  }

  .review__form-item_phone {
    &::before {
      top: 31px;
      right: -383px;
    }
  }

  .review__form-item_mail {
    &::before {
      top: 31px;
      right: -383px;
    }
  }

  .review__form-contacts .review__form-item_phone {
    padding-bottom: 24px;
  }

  .review__checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 157px;
  }

  .review__checkbox .review__filter {
    margin-bottom: 62px;
    padding-left: 78px;

    &:nth-child(2) {
      padding-right: 16px;
    }

    &:nth-child(4) {
      padding-right: 3px;
    }
  }

  .review__filter-checkbox:checked + label {
    &::before {
      top: -13px;
      left: 0;
    }
  }

  .review__form-attractions .review__form-title {
    padding: 0 250px;
    padding-bottom: 56px;
    padding-top: 30px;
    text-align: center;

    &::before {
      top: 55px;
      right: 67px;
    }

    &::after {
      top: 55px;
      left: 60px;
    }
  }

  .review__form-emotions .review__form-title {
    padding: 0;
    padding-bottom: 58px;
    padding-top: 22px;
    text-align: center;

    &::before {
      top: 34px;
      right: 60px;
    }

    &::after {
      top: 34px;
      left: 60px;
    }
  }

  .review__form-emotions .review__form-item {
    width: 648px;
    padding: 0 60px;
  }

  .review-button {
    width: 324px;
    height: 58px;
    margin: 0;
  }

  .review-button span {
    padding-right: 12px;
  }

  .review__button-wrapper .review__form-item {
    display: inline;
    padding: 0;
  }

  .review__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    margin: 0 60px;
    margin-top: 58px;
    margin-bottom: 29px;
  }

  .review__form-contacts .review__form-title,
  .review__form-attractions .review__form-title,
  .review__form-emotions .review__form-title {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #eeeeee;
    }

    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #eeeeee;
    }
  }
}

@media (min-width: @desktop-width) {
  .review {
    width: 1200px;
    margin-bottom: 64px;
  }

  .review__form-wrapper {
    padding: 0 120px;
  }

  .review__wrapper-phone {
    display: none;
  }

  .review__wrapper-phone_mod {
    display: inline;
    position: relative;

    &::before {
      position: absolute;
      width: 58px;
      height: 60px;
      content: "";
      background-color: #e6e6e6;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: center;
      top: 5px;
      right: -40px;
      z-index: 10;
    }
  }

  .review__form-item_mail {
    padding-left: 119px;

    &::before {
      top: 5px;
      right: -40px;
    }
  }

  .review__form-impression .review__form-title {
    padding-left: 80px;
  }

  .review__form-impression {
    &::before {
      right: -128px;
    }
  }

  .review__filter {
    padding-left: 79px;
  }

  .review__filter-radio + label::before,
  .review__filter::before {
    left: 6px;
  }

  .review__filter-radio:checked + label {
    &::before {
      top: 4px;
      left: 21px;
    }
  }

  .review__wrapper {
    width: 401px;
    margin: 0;
  }

  .review__form-item input {
    width: 298px;

    &:focus {
      max-width: 290px;
    }
  }

  .review__form-item_name input {
    width: 335px;

    &:focus {
      max-width: 327px;
    }
  }

  .review__form-introduce .review__form-title {
    padding: 0;
    padding-right: 250px;
    margin-bottom: 56px;
  }

  .review__form-contacts {
    width: 960px;
    margin-top: 43px;
  }

  .review__form-contacts .review__form-title {
    padding: 0;
    padding-bottom: 68px;
  }

  .review__form-contacts .review__wrapper {
    flex-direction: row;
    width: 960px;
  }

  .review__wrapper-phone_mod label,
  .review__form-item_mail label {
    padding: 0;
    padding-right: 11px;
  }

  .review__form-item_mail label {
    padding-right: 13px;
  }

  .review__form-contacts input {
    width: 255px;

    &:focus {
      max-width: 247px;
    }
  }

  .review__checkbox {
    justify-content: space-between;
    width: 960px;
    padding: 0 120px;
  }

  .review__form-attractions .review__form-title {
    padding: 0 400px;
    padding-bottom: 55px;
    padding-top: 30px;

    &::before {
      right: 115px;
    }

    &::after {
      left: 115px;
    }
  }

  .review__checkbox .review__filter {
    margin: 0;
    padding: 0;
    padding-left: 80px;

    &:nth-child(2) {
      padding: 0;
    }

    &:nth-child(3) {
      padding: 0;
    }

    &:nth-child(4) {
      margin: 0;
      padding: 0;
      padding-right: 4px;
    }
  }

  .review__form-attractions .review__filter,
  .review__filter-checkbox + label {
    &::before {
      left: -82px;
    }
  }

  .review__form-attractions .review__filter_mod,
  .review__filter_mod .review__filter-checkbox + label {
    &::before {
      left: 0;
    }
  }

  .review__filter-checkbox:checked + label {
    &::before {
      left: -82px;
    }
  }

  .review__filter_mod .review__filter-checkbox:checked + label {
    &::before {
      left: 0;
    }
  }

  .review__form-emotions .review__form-item {
    width: 960px;
    padding: 0 120px;
  }

  .review__form-emotions {
    margin-top: 61px;
  }

  .review-button {
    width: 480px;
  }

  .review__button-wrapper {
    margin: 0 120px;
    margin-top: 58px;
    margin-bottom: 33px;
  }

  .review__form-contacts .review__form-title,
  .review__form-attractions .review__form-title,
  .review__form-emotions .review__form-title {
    position: relative;

    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }

  .review__form-emotions .review__form-title {
    &::before {
      right: 115px;
    }

    &::after {
      left: 115px;
    }
  }

  .review-button span {
    padding-right: 0;
  }
}
